body {
  margin: 0;
  border: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 10vw;
  background-color: black;
}

header {
  margin: 40px 0;
  background-color: black;
  text-align: center;
}

main {
  text-align: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: start;
}

pre {
  margin: 0;
  color: white;
}

#construction_gif {
  width: 20vw;
  height: 20vw;
}
