body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: "";
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 10vw; }

main {
  height: 40vw; }

header {
  padding: 0.4vw; }

h1 {
  margin: 0.1vw;
  margin-top: 0.5vw;
  font-size: 2.5vw;
  margin-top: 2vw;
  margin-left: 1.4vw;
  font-family: 'Special Elite', cursive; }

.cas-img {
  width: 5vw; }

hr {
  margin: 0.4vw 2vw; }

ul {
  margin: 0.1vw;
  margin-left: 1vw;
  text-align: center; }

a:-webkit-any-link {
  text-decoration: none; }

a {
  text-decoration: none; }

span > p {
  font-family: 'Teko', sans-serif;
  color: #5BB579;
  position: relative;
  font-size: 3vw;
  bottom: 15vw;
  left: 7vw; }

#stereo {
  font-size: 1.5vw; }

a > p {
  display: inline;
  position: relative;
  top: 2.7vw;
  font-size: 2vw;
  padding: 1vw;
  opacity: 0; }

.container:hover a > p {
  opacity: 1; }

.container:hover .cas-img {
  opacity: 0.1; }

#p-1 {
  color: red;
  right: 2.2vw; }

#p-2 {
  color: blue;
  right: 3vw; }

#p-3 {
  color: green;
  right: 0.9vw; }

ul:last-child {
  margin-right: 3vw; }

li {
  width: 4vw;
  border-radius: 10px;
  font-size: 1.4vw;
  display: inline-block;
  padding: 0.5vw;
  font-family: 'Special Elite', cursive;
  float: right;
  margin-left: 4vw;
  margin-top: -1.4vw; }

.head-container {
  display: grid;
  grid-template-columns: 60% 40%; }

#h-box-1 {
  grid-column: 1; }

#h-box-2 {
  grid-column: 2; }

.buttons {
  height: 1.7vw;
  width: 3vw;
  background-color: black;
  display: inline-block;
  margin-bottom: -7vw;
  margin-right: 0.3vw;
  border-radius: 0.5vw 0.5vw 0 0vw;
  position: relative;
  bottom: 8.5vw;
  left: 18vw; }

#play {
  width: 8vw; }

#bottom-square {
  border-radius: 0 0 0.5vw 0.5vw; }

#bottom-circle {
  border-radius: 0 0 0.5vw 0.5vw;
  width: 5vw; }

#bottom-buttons {
  display: inline-block;
  transform: rotate(270deg);
  position: relative;
  left: 34.35vw;
  top: 11.5vw; }

#c-body {
  background-color: lightgrey;
  width: 36vw;
  height: 21vw;
  position: relative;
  left: 32vw;
  top: 6.5vw;
  border-top: 0.5vw grey solid;
  border-bottom: 0.5vw grey solid;
  border-radius: 1vw;
  animation-name: spin;
  animation-delay: 1s;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards; }

#c-inside {
  background-color: black;
  width: 31vw;
  height: 19vw;
  position: relative;
  top: 0.7vw;
  left: 3.5vw;
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 25% 0%); }

#c-light-inside {
  background-color: grey;
  height: 7vw;
  width: 21.5vw;
  position: relative;
  left: 8vw;
  top: 7vw; }

#c-tape-l {
  width: 10vw;
  height: 10vw;
  border-radius: 90vw;
  background-color: #3a3a3a;
  position: relative;
  bottom: 1.5vw; }

#c-tape-r {
  width: 6.5vw;
  height: 6.5vw;
  border-radius: 90vw;
  background-color: #3a3a3a;
  position: relative;
  bottom: 9.75vw;
  left: 13.5vw; }

.c-wheels {
  width: 4vw;
  height: 4vw;
  background-color: black;
  border-radius: 2.5vw;
  display: inline-block;
  position: relative;
  animation-name: tapespin;
  animation-delay: 6s;
  animation-duration: 2s;
  animation-direction: reverse;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

#c-wheel-right {
  top: 1.25vw;
  left: 1.25vw; }

#c-wheel-left {
  left: 3vw; }

.tape {
  width: 0.2vw;
  height: 4.1vw;
  background-color: #3a3a3a;
  position: relative;
  bottom: 13.7vw;
  left: 19.8vw;
  transform: rotate(50deg);
  overflow: hidden; }

#cassette {
  display: inline-block;
  animation-name: push;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  position: relative; }

#block-up {
  height: 3vw;
  width: 10vw;
  background-color: black;
  position: relative;
  bottom: 1.5vw; }

#block-down {
  height: 3vw;
  width: 10vw;
  background-color: black;
  position: relative;
  top: 1.2vw; }

#flare {
  position: relative;
  left: 1.1vw;
  bottom: 18.4vw; }

@keyframes push {
  0% {
    right: 0; }
  10% {
    top: 0.5vw; }
  100% {
    right: 35vw;
    top: 1.4vw; } }
@keyframes tapespin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  30% {
    transform: rotate(90deg); }
  100% {
    bottom: 2vw;
    transform: rotate(90deg); } }

/*# sourceMappingURL=main.css.map */
